<nav>
    <a href="http://localhost:3000/add-person" class="btn btn-lg btn-success w-100">Add Person</a>
    <a href="http://localhost:3000/deleteAll" class="btn btn-lg btn-danger w-100">Delete all</a>

</nav>